@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');

body {
  background: #428bca;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1.logo {
  color: yellow;
  font-family: 'Kanit', sans-serif;
  font-size: 4em;
}

h3.end {
  position: relative;
  transition: 0.5s ease-in-out;
}

p.copyright {
  padding: 10px;
  margin: 10px 0 10px;
  color: white;
  text-align: center;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.wallpaper {
  background: url(../images/b&whardwood.jpg) center repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

#form-box {
  background: #fff;
  position: relative;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;

}

#summary-box {
  position: relative;
  background: #c9c4c4;
  padding: 30px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 24px #000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #428bca;
  float: right;
  cursor: pointer;
  z-index: 2;
}

#next-btn:hover {
  color:#80b4e2;
}

#prev-btn {
  position: absolute;
  font-size: 18px;
  left: 30px;
  top: 12px;
  z-index: 2;
  color: #202020;
  float: right;
  cursor: pointer;
}

#prev-btn:hover {
  color: #c9c4c4;
}

#select-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#select-group select {
  position: relative;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow: none;

}

#select-label {
  position: absolute;
  pointer-events: none;
  top: 32px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

#select-group select:valid + #select-label { 
  top: 6px;
  left: 42px;
  margin-left: 0 !important;
  font-size: 11px;
  font-weight: normal;
  color: #c9c4c4;
}

#select-progress {
  border-bottom: 3px solid #428bca;
  width: 0%;
  transition: width 0.6s ease-in-out;
}

#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#input-group input {
  position: relative;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow: none;

}

#input-label {
  position: absolute;
  pointer-events: none;
  top: 32px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

#input-group input:valid + #input-label { 
  top: 6px;
  left: 42px;
  margin-left: 0 !important;
  font-size: 11px;
  font-weight: normal;
  color: #c9c4c4;
}

#input-progress {
  border-bottom: 3px solid #428bca;
  width: 0%;
  transition: width 0.6s ease-in-out;
}

#progress-bar {
  position: absolute;
  background: #80b4e2; 
  height: 10px;
  width: 0%;
  transition: width 0.5s ease-in-out
}

.close #next-btn, #prev-btn {
  color: #fff;
}

.error #input-progress #select-progress {
  border-color: red;
}

.error #next-btn {
  color: red;
}

#success-check {
  position: relative;
  font-size: 60px;
  color: #edfd05;
  align-content: center;
  z-index: 2;
}

.text-center {
  text-align: center;
}

@media(max-width: 600px) {
  #form-box {
    width: 80%;
  }
}